{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Connections</h1>
    <p> 11 Active - 1 Disconnection since last login.</p>
</br>
    {% for shell in shells %}
    <table class="table table-hover">
        <thead>
        
            <tr>
                <th>ID:</th>
                <th>IP:</th>
                <th>OS:</th>
                <th>Privilege:</th>
                <th>Computer/User:</th>
                <th>Last Heartbeat:</th>
            <tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{ shell.id }}</td>
                <td>{{ shell.ip }}</td>
                <td>{{ shell.os }}</td>
                <td>{{ shell.priv }}</td>
                <td>{{ shell.compuser }}</td>
                <td>{{ shell.heartbeat}}</td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>


    {% endfor %}
    
{% endblock %}